.bg{
    background: url(img/back.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    padding: 15px;
}

html {
    height: 100%;
}
.main {
    background: rgba(255,255,255,0.9);
    height: 100%;
    margin-top: 20px;
    border-radius: 20px;
    min-height: 370px;
}

.matchList {
    color: #6b6b6b;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #e49600!important;}

.teamList {
    margin: 20px;
    font-size: 19px;
    color: #e49600;
}
.none{display: none}
#currentTeam{color:#e49600}
#player {
    max-width: 90%;
}
a#back {
    float: right;
    margin-top: -42px;
    font-size: 30px;
    margin-right: 30px;
    color: #b17501;
}

a#back:hover {
    color: #ffa800;
}
.vidItem {
    height: 140px;
    cursor: pointer;
}

.vidItem img {
    display: block;
}

div#list {
    text-align: left;
}
a#prev {
    font-size: 80px;
    position: absolute;
    left: 0;
    top: 190px;
}

a#next {
    font-size: 80px;
    position: absolute;
    right: 0;
    top: 190px;
}

.matchList.container.main {
    position: relative;
}